@font-face {
  font-family: neoterique;
  src: url("../../resources/fonts/neoterique.ttf");
}
:root {
  --main-text-color: rgba(255, 255, 255, 0.8);
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #001321 !important;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.weatherCard {
  align-self: center;
  justify-self: center;
  padding: 10%;
  align-content: center;
  text-align: center;
}

.weatherCard .card {
  align-self: center;
  /* background: repeating-linear-gradient(#1f0c2a, #1f0c2a 20px, #166F6A 10px, #166F6A 25px); */
  /* background: #58a; */
  /* background: repeating-linear-gradient(00deg, rgba(#000, .5), rgba(#FFF, .5) 10px, transparent 10px, transparent 20px);  */
  background: url('/resources/images/background.png');
  background-repeat: no-repeat;
  color: white;
  display: inline-block;
  border: none;
  height: 63vh;
  width: 37%;
  border-radius: 5px;

  -moz-animation-duration: 4s;
  -webkit-animation-duration: 4s;
  -moz-animation-name: changeShadow;
  -webkit-animation-name: changeShadow;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;
  -webkit-animation-direction: alternate;
  animation-timing-function: cubic-bezier(0,0,1,1);
  padding: 2%;
}

.scanLines {
  /*** WEBKIT ***/
  background: -webkit-repeating-linear-gradient(
    top,
    transparent 0px,
    transparent 1px,
    rgba(0, 0, 0, 0.5) 1px,
    rgba(0, 0, 0, 0.5) 3px
  );
  -webkit-background-size: 100% 4px;
  /** MOZILLA **/
  background: -moz-repeating-linear-gradient(
    top,
    transparent 0px,
    transparent 1px,
    rgba(0, 0, 0, 0.5) 1px,
    rgba(0, 0, 0, 0.5) 2px
  );
  -moz-background-size: 100% 4px;
  z-index: 10;
}

.weatherCard .weatherContainer {
  height: 100%;
  width: 100%;
}

.card img {
  height: 150px;
  width: 150px;
}

.card h1 {
  font-family: neoterique;
  color: var(--main-text-color);
  margin-top: 2%;
}
.card li {
  display: inline;
  color: var(--main-text-color);
}
.card li img {
  height: 50px;
  width: 50px;
}
/* box-shadow: 0 19px 38px rgba(0,0,0,.3), 0 15px 12px rgba(0,0,0,.22); */
@-webkit-keyframes changeShadow {
  /* 0% {
    -webkit-box-shadow:0 0 15px 12px rgba(24, 47, 63, 0.6);
    -moz-box-shadow: 0 0 15px 12px rgba(24, 47, 63, 0.6);
    box-shadow: 0 0 1px 31px rgba(24, 47, 63, 0);
  } */
  0% {
    -webkit-box-shadow: 0 0 19px 38px  rgba(50, 102, 122, 1);
    -moz-box-shadow: 0 0 19px 38px rgba(50, 102, 122, 1);
    box-shadow: 0 0 70px 3px rgba(50, 102, 122, 0.6);
  }
  50% {
    -webkit-box-shadow:0 0 19px 38px  rgba(88, 237, 227, 1);
    -moz-box-shadow: 0 0 18px -1px rgba(88, 237, 227, 1);
    box-shadow: 0 0 93px 20px rgba(88, 237, 145, 0.4);
  }
  100% {
    -webkit-box-shadow: 0 0 19px 38px  rgba(50, 102, 122, 1);
    -moz-box-shadow: 0 0 19px 38px rgba(50, 102, 122, 1);
    box-shadow: 0 0 42px 2px rgba(50, 102, 122, 0.6);
  }
  /* 100% {
    -webkit-box-shadow: 0 0 1px 31px rgba(24, 47, 63, 1);
    -moz-box-shadow: 0 0 1px 31px rgba(24, 47, 63, 1);
    box-shadow: 0 0 1px 31px rgba(24, 47, 63, 0);
  } */
}
